.wrapper {
    height: 101px;
    display: flex;
    min-width: 300px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: content-box;

}

.wrapper::after {
    box-sizing: content-box;
    width: 99%;
    content: '';
    display: block;
    height: 1px;
    background: rgba(135, 135, 135, 0.2);
    border-radius: 8px;
    transform: matrix(1, 0, 0, -1, 0, 0);

}

.border {
    display: inline-block;
    margin: 0;
    position: relative;
}

.info {
    flex-basis: 50%;
    min-width: 301px;

}

.info_text {
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #424242;
}
.price_amount{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #424242;
}


.info_text_date {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #878787;
}

.price {
    flex-basis: 25%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.4s;
    min-height: 50px ;
}
.price_title {
    font-weight: 300;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #878787;
}
.logo {
    background-color: rgba(0, 119, 255, 0.05);
    background-image: url('/src/assets/row/plane.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    width: 64px;
    height: 64px;
}
