.wrapper {
    height: 101px;
    /*border: 1px solid black;*/
    display: flex;
    min-width: 300px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: content-box;

}

.wrapper::after {
    box-sizing: content-box;
    width: 99%;
    content: '';
    display: block;
    height: 1px;
    background: rgba(135, 135, 135, 0.2);
    border-radius: 8px;
    transform: matrix(1, 0, 0, -1, 0, 0);

}

.border {
    display: inline-block;
    margin: 0;
    position: relative;
}

.info {
    flex-basis:50%;
    /*flex-grow:3;*/
    border: 1px solid black;
    background-color: greenyellow;

}

.price {
    flex-basis:25%;
    /*flex-grow: 2;*/
    border: 1px solid black;
    background-color: yellow;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logo {
    /*flex-grow: 1;*/
    background-color: rgba(0, 119, 255, 0.05);
    background-image: url('/src/assets/row/plane.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    width: 64px;
    height: 64px;
}
