.loginForm {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: calc(40% - 169px);

    border: 2px solid black;
    max-width: 28.3%;
    height: 33%;

    background-color: white;
    border-radius: 20px;
    z-index: 999;


}

.loginFormForgot {
    float: right;
}

.antColRtl .loginFormForgot {
    float: left;
}

.loginFormButton {
    width: 100px;
}

/*.inp {*/
/*    width: 200px;*/
/*    height: 34px;*/
/*}*/
.wrapper {
    position: relative;
}


.backGround {
    background-image: url('/src/assets/background/Rectangle.png');
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    filter: blur(2px);

}
